# Core dependencies
fastapi
uvicorn
pydantic
python-dotenv

# Database
pymongo

# Qdrant
qdrant-client
langchain_qdrant

# Redis
redis
langchain-redis

# LangChain
langchain
langchain_google_genai
langchain-core
langchain-huggingface
langchain-community

# Utilities
requests
tqdm


